include ./mixin.jade
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=1.0, maximum-scale=1.0,minimum-scale=1.0")
		block titulo
			title Document
		link(rel="icon",type="image/png", href="assets/images/idea4.png")
		link(rel="stylesheet", href="assets/css/bootstrap.css")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		#hero
			.fondocolor
				
				.container
					.row
						.col-md-12
							.hero-text.text-center
								//img#foco.white(src="assets/images/foco4.png", alt="")
							
								p CODIFICANDO MUNDOS CON PASIÓN Y RESPETO

								img(src="assets/images/janet60.png", alt="")
								img(src="assets/images/milagros60.png", alt="")
								.pd
									#preloader6
										span
										span
										span
										span
		include ./header.jade	
		block contenido
			p holitas
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='assets/js/bootstrap.js')
		script(src='assets/js/main.js')