extends base/base.pug

block titulo
	title Janet Milagros

block contenido
	include ./sections/aboutme.pug
	include ./sections/frase.pug
	include ./sections/skills.pug
	include ./sections/portafolio.pug
	include ./sections/contact.pug
