#contactme.bck-white.text-center.pdb.pdt
  .container
    .row
      .col-md-4.twitter
        a(href="#").red-social
          span.icon-twitter
      .col-md-4.github
        a(href="#").red-social
          span.icon-github
      .col-md-4.linkedin
        a(href="#").red-social
          span.icon-linkedin
