#contactme.bck-white.text-center.pdb.pdt
  .container
    .row
      .col-md-12
        h2 CONTÁCTAME
    .row
      .col-md-2.col-md-offset-3.twitter
        a(href="#").icon-twitter.red-social
      .col-md-2.github
        a(href="#").red-social.icon-github
      .col-md-2.linkedin
        a(href="#").red-social.icon-linkedin
.esencia.text-center
  .container
    .row
      .col-md-12
        p "Cada persona tiene una idea. Lo que me gusta de la programación es que con el código podemos materializar esas idea"
      .col-md-12
        img.img-responsive(src="assets/images/foco.png", alt="")
