.esencia.text-center.pdb.pdt
  .container
    .row
      .col-md-12
        p "Cada persona es un mundo de ideas.. Lo que me gusta de la programación es que con el código podemos materializar esas ideas."
      .col-md-12
        img.img-responsive(src="assets/images/foco.png", alt="")

#contactme.bck-white.text-center.pdb.pdt
  .container
    .row
      .col-md-12
        h2 CONTÁCTAME
    .row
      .col-md-12
        a(href="#").icon-twitter.red-social
        a(href="#").red-social.icon-github
        a(href="#").red-social.icon-linkedin
