#portfolio
  .container
    .row
      .col-md-12
        h2 PORTAFOLIO
    .row
      .col-md-12
        #portafolio
          .controls
            button.filter(data-filter="all") Todo
            button.filter(data-filter=".category-1") Maquetación
            button.filter(data-filter=".category-2") Responsive Design
            button.filter(data-filter=".category-3") App JS
            button.filter(data-filter=".category-4") Sass
            button.filter(data-filter=".category-5") Jade
          #containerin.containermixin.row
            .mix.category-3
              a.mostrarmodal(href="#img1")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-2
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-3
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-5
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-4
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-4
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-3
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")
            .mix.category-2
              a(href="#")
               img.img-responsive(src="assets/images/tictactoemin.png" alt="image")


.modal(id="img1")
 h1 Imagen 1
 .imagen
  a.beforeimg(href="") &#60;
  a.imgactual(href="") 
   
  a.afterimg(href="") >
 span.cerrar x