#skills.bck-white.pdt.pdb
    .container
        .row
            .col-md-12
                h2 HABILIDADES
        .row
            .col-md-6
                img.img-responsive(src="assets/images/janet.png")
            .col-md-6
                .table-skill
                    .bar-1
                        label HTML5
                        .bar(data-width="65%")
                            .bar-inner
                    .bar-1
                        label CSS3
                        .bar(data-width="55%")
                            .bar-inner
                    .bar-1
                        label JavaScript
                        .bar(data-width="86%")
                            .bar-inner
                    .bar-1
                        label Sass
                        .bar(data-width="55%")
                            .bar-inner
                    .bar-1
                        label Jade
                        .bar(data-width="55%")
                            .bar-inner
