#skills.bck-white
    .container
        .row
            .col-md-12
                h2 HABILIDADES
        .row
            .col-md-12
                .bar-1
                    .title SASS
                    .bar(data-width="65%")
                        .bar-inner
                        .bar-percent 65%
                    
