#skills.bck-white
    .container
        .row
            .col-md-12
                h2 HABILIDADES
        .row
            .col-md-6
                .bar-1
                    .bar(data-width="65%")
                        .bar-inner
                        .bar-percent 65%
                        .titleSkill(href="")
                            img.i-skill(src="assets/images/sass-logo.png", alt="sass")
            .col-md-6
                .bar-1
                    .bar(data-width="55%")
                        .bar-inner
                        .bar-percent 55%
                        .titleSkill(href="")
                            img.i-skill(src="assets/images/jade-logo.svg", alt="sass")
        .row
            .col-md-6
                .bar-1
                    .bar(data-width="86%")
                        .bar-inner
                        .bar-percent 86%
                        .titleSkill(href="")
                            span.i-skill.icon-html5
            .col-md-6
                .bar-1
                    .bar(data-width="55%")
                        .bar-inner
                        .bar-percent 55%
                        .titleSkill(href="")
                            img.i-skill.css3img(src="assets/images/css3.svg", alt="css3")
