#hero{
	background-color:#333;
	background-size:cover;
	.fondocolor{
		background-color:rgba(0,0,0,.6);
		height: 100%;
	}
}
.navbar-inverse {
    background-color: transparent;
    border-color: #080808;
}
.navbar-brand {
    height: auto;
    padding: 10px 20px 0px;
}
.navbar-right{
	padding-top:15px;
}    
.navbar-toggle {
	margin-top:25px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: tomato;
}