#hero{
	background-image:url('../../assets/images/ciudad.jpg');
	background-size:cover;
	.fondocolor{
		background-color:rgba(0,0,0,.5);
		height: 100%;
	}
}
.navbar-inverse {
    background-color: transparent;
    border-color: #080808;
}
.navbar-brand {
    height: auto;
    padding: 10px 20px 0px;
}
.navbar-right{
	padding-top:15px;
}    
.navbar-toggle {
	margin-top:25px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: tomato;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 30px rgba(246, 7, 54, .3);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scroll-down {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      color: #fff;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      
      &:hover{
        opacity: 0.5;
      }
      
      &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }

      &::before {
        position: absolute;
        top: -22px;
        left: -22px;
        z-index: -1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
        border-radius: 100%;
        opacity: 0;
        -webkit-animation: sdb 3s infinite;
        animation: sdb 3s infinite;
        box-sizing: border-box;
      }
    }
#about {
	
	background-color: #5e42a6;
	color: white;
}