
@media screen and (max-width:768px){
  #hero .fondocolor .hero-text{
    padding:60% 10% 0%;
    #titulo{
      font-size: 3em;
    }
  }

    .navbar-inverse .navbar-brand{
        #titulo{
            font-size: 1.3em;
        }
    }
    .navbar-inverse .navbar-toggle {
        margin-top: 15px;
    }


}
@media screen and (max-width:992px){
        //about
    .i-principal{
	   padding:15% 15% 0%;

    }
}