#aboutme{
	background-color:white;
	.text{
		padding:20%;
	}
	img{
		margin:auto;
	}

}
#frase{
	blockquote{
		font-size: 1.2em;
	}
}

//---------------------skillss----------------
.bar {
  width: 90%;
  height: 35px;
  background-color: rgba(255, 84, 117,.3);
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: #db3a34;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "sans-serif";
}