#aboutme{
	background-color:white;
	.text{
		padding:20%;
	}
	img{
		margin:auto;
	}

}
#frase{
	blockquote{
		font-size: 1.2em;
	}
}

//---------------------skillss----------------
.bar {
  width: 90%;
  height: 35px;
  background-color: rgba(255, 84, 117,.3);
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
  margin-bottom: 55px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: $sass;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "sans-serif";
}
.bar{
  position:relative;
  .titleSkill{
    padding: 10px;
    margin:5px;
    border-radius:100%;
    box-shadow:1px 2px 3px lighten($sass,20%);
    position:absolute;
    display: block;
    background:white;
    top:-25px;
    left:-40px;
    .i-skill{
      width:70px;
      height: 70px;
    }
    .css3img{
      width:50px;
      height:50px; 
      margin: 10px;
    }
  }
  .icon-html5{
    color:orange;
    font-size:50px;
  }

}
