//-
	<!DOCTYPE html>
	html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/main.css")

	body

		p hola que tal
		include layout/header.jade
		script(src='assets/js/jquery.js')
		script(src='assets/js/bootstrap.min.js')

extends base/base.jade

block titulo
	title Hola

block contenido
	#aboutme
		.container
			.row
				.col-md-12
					.text.text-center
							h2 SOBRE MI
							p Egresada de Laboratoria con estudios en computación e informática. Dispuesta a maquetar con Sass/Jade y crear aplicaciones con Javascript. Experiencia en Front End e interés en Back End, con el objetivo de convertirse en una Desarrolladora Full-stack.
