extends base/base.jade

block titulo
	title Hola

block contenido
	#aboutme
		.container
			.row
				.col-md-12
					.text.text-center
						h2 SOBRE MI
						p Egresada de Laboratoria con estudios en computación e informática. Dispuesta a maquetar con Sass/Jade y crear aplicaciones con Javascript. Experiencia en Front End e interés en Back End, con el objetivo de convertirse en una Desarrolladora Full-stack.

	#portfolio
		.container
			.row
				.col-md-12
					h2 HABILIDADES
			.row
				.col-md-12
					#portafolio
						.controls
							button.filter(data-filter="all") Todo
							button.filter(data-filter=".category-1") Diseño Web
							button.filter(data-filter=".category-2") Diseño Grafico
							button.filter(data-filter=".category-3") Apps
						#containerin.containermixin
							.mix.category-1
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-2
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-1
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-1
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-3
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-2
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-3
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-2
								img(src="assets/images/foco3.png" alt="image")
							.mix.category-3
								img(src="assets/images/foco3.png" alt="image")
